:root{
    --main-text: #e65f78;
    --white-color: #ffffff;
    --black-color: #000000;
    
}
*{
    box-sizing: inherit;
}
html{
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    font-size: 62.5%;
    line-height: 1.6rem;
}
.grid{
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
}
